<%= form_for(@bookmark, :html => {:class => "form-horizontal"}) do |f| %>
	<fieldset>
		
	<legend>Bookmark</legend>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 	<div class="control-group">
  	  <%= f.label :url, :class => "control-label"  %>
	<div class="controls">
     	<%= f.text_field :url, :class => "input-xxlarge" %>
	</div>
	</div>
	
	<div class="control-group">
	  <%= f.label :description, :class => "control-label" %>
	<div class="controls">
      <%= f.text_area :description, :rows=>5, :class => "input-xxlarge" %>
  	</div>
	</div>

	<div class="control-group">
    <%= f.label :snapshot, :class => "control-label" %>
	<div class="controls">
    <%= f.file_field :snapshot %>
    
	or	
    <%= text_field_tag "image_url" %>
	</div>
	</div>
	
	<div class="control-group">
    <%= f.label :category_id, :class => "control-label" %>
	<div class="controls">
	<%= f.select :category_id, nested_set_options(Category, @category) {|i, level| "#{'-' * level} #{i.title}" } %>
</div>
	</div>
  <div class="form-actions">
    <%= f.submit :class=>"btn btn-primary" %>
  </div>
	</fieldset>
<% end %>
