<%= form_for(@bookmark, :html => {:class => "form-horizontal", :role => "form"}) do |f| %>
	<fieldset>
		
	<legend>Bookmark</legend>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 	<div class="form-group">
  	  <%= f.label :url, :class => "control-label"  %>
      <%= f.text_field :url, :class => "form-control", :placeholder => "Page URL" %>
	</div>
	
 	<div class="form-group">
	  <%= f.label :description, :class => "control-label" %>
      <%= f.text_area :description, :rows=>5, :class => "form-control", :placeholder => "Bookmark description" %>
	</div>

	<div class="form-group" id="snapshot-upload">
	<div class="col-md-12">
    <%= f.label :snapshot, :class => "control-label" %>
	</div>
	<div class="col-md-5">
    <%= f.file_field :snapshot %>
	</div>
	<div class="col-md-2">
	   	or 
	</div>

	<div class="col-md-5">
	    <%= text_field_tag "image_url", nil, :placeholder => "Image URL", :class => "form-control" %>
	</div>
	</div>
	
	<div class="form-group">
    <%= f.label :category_id, :class => "control-label" %>
	<%= f.select :category_id, sorted_nested_set_options(Category, :title, @category){|i, level| "#{'-' * level} #{i.title}" }, {}, { :class =>"form-control"} %>
	</div>
  <div class="form-group">
    <%= f.submit :class=>"btn btn-info" %>
  </div>
	</fieldset>
<% end %>
