<%= form_for(@bookmark) do |f| %>
	<fieldset>
		
	<legend>Bookmark</legend>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	  <%= f.label :description %>
      <%= f.text_area :description, :rows=>5 %>
  	
  	  <%= f.label :url %>
     	<%= f.text_field :url %>

    <%= f.label :snapshot %>
    <%= f.file_field :snapshot %>
    
	or
    <%= text_field_tag "image_url" %>
	
    <%= f.label :category_id %>
	<%= f.select :category_id, nested_set_options(Category, @category) {|i, level| "#{'-' * level} #{i.title}" } %>

  <div class="form-actions">
    <%= f.submit :class=>"btn btn-primary" %>
  </div>
	</fieldset>
<% end %>
