<p>
  <b>Description:</b>
  <%= @bookmark.description %>
</p>
<p>
  <b>Url:</b>
  <%= @bookmark.url %>
</p>


<p>
	<b>Category:</b>
  	<%= link_to @bookmark.category.title, @bookmark.category %>
</p>
<p>
	<%= image_tag @bookmark.snapshot.url(:medium) %>
</p>



<%= link_to 'Edit', edit_bookmark_path(@bookmark), :class => "btn" %>
<%= link_to 'Destroy', @bookmark, method: :delete, :class => "btn", data: { confirm: 'Are you sure?' } %> 
<%= link_to 'Back', bookmarks_path, :class => "btn" %>
