<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @category.title %>
</p>

<%= link_to 'Edit', edit_category_path(@category), :class => "btn" %>

<div id="subcategories-container">
	<b>Sub-categories:</b> </br>
	<%= render @category.children %>
</div>

<div id="bookmarks-container">
	<%= render @bookmarks %>
</div>

<%= will_paginate @bookmarks %>

