<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @category.title %>
</p>

<p>
<% @category.children.each do |category| %>
  <%= link_to category.title, category %>
<% end %>
</p>

<p>
<% @category.bookmarks.each do |bookmark| %>
	<%= render bookmark%>
<% end %>
</p>

<%= link_to 'Edit', edit_category_path(@category), :class => "btn" %>
<%= link_to 'Back', categories_path, :class => "btn" %>