<% unless @category.ancestors.empty? %>
<div class="row">
	<ul class="breadcrumb">
	<% @category.ancestors.each do |ancestor|%>
		<li>
			<%= link_to ancestor.title, ancestor %>
			<span class="divider">&gt;</span>
		</li>
	<% end%>
		<li class="active"><%= @category.title %></li>
	</ul>
</div>
<% end%>

<div class="row">
	<div class="col-md-10">
		<h3>
		  <%= @category.title %>
		</h3>
  	</div>
  	<div class="col-md-2 pull-right button-box">
		<%= link_to 'Edit', edit_category_path(@category), :class => "btn btn-default" %>
  	</div>
</div>

<div class="row">
	<div class="col-md-12" id="subcategories-container">
		<%= render @category.children %>
		<%= render "new_category" %>
	</div>
</div>


<div id="bookmarks-container">
	<%= render @bookmarks %>
</div>

<%= will_paginate @bookmarks %>

