<div class="row-fluid">
	<ul class="breadcrumb">
	<% @category.ancestors.each do |ancestor, index|%>
		<li><%= link_to ancestor.title, ancestor %></li>
	<% end%>
	</ul>
</div>


<div class="row-fluid">
	<div class="span6">
		<h3>
		  <%= @category.title %>
		</h3>
  	</div>
  	<div class="span1 offset5">
		<%= link_to 'Edit', edit_category_path(@category), :class => "btn" %>
  	</div>
</div>

<div class="row-fluid">
	<div id="subcategories-container">
		<%= render @category.children %>
	</div>
</div>


<div id="bookmarks-container">
	<%= render @bookmarks %>
</div>

<%= will_paginate @bookmarks %>

